:root {
	--navbar-height: 55px;
	--footer-height: 52px;
}

main.no-overlap-with-navbar {
	position: relative;
	top: var(--navbar-height);
}

nav {
	border-bottom: 1px solid lightgrey;
}

body {
	background-color: #eee;
}






/* Reference: https://stackoverflow.com/a/7419891 */
div.image-container-dont-resize-navbar {
	position: relative;
}
div.image-container-dont-resize-navbar img {
	position: absolute;
}

img.image-centered-vertically {
	-ms-transform: translate(0%, -50%);
		transform: translate(0%, -50%);
}



/* Überlappungen verhindern */
body    { min-height: 100vh; margin:0; }
nav     { height: var(--navbar-height); }
footer  {
	height: var(--footer-height);
	position: relative;
	top: -10px;
}
body    { display:flex; flex-direction:column; }
main    {
	margin-top: 10px;
	flex:1;
	margin-bottom: calc(var(--footer-height) + 20px);
}

div.horiz-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.vert-flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


a.link-symbol {
  background: url("/bilder/externer_link.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

.no-link {
  color:inherit;
  text-decoration:none;
}

a.subtle-link {
	color:inherit;
  text-decoration:none;
}

a.subtle-link:hover {
	color: blue !important;
}

form#navbar-search-form div.form-input-container {
	display: flex;
	flex-direction: row;
}

form#navbar-search-form input[type=search] {
	width: 62.5%;
	margin-right: 2.5%;
}

form#navbar-search-form button {
	width: 35%;
}

.blocksatz {
	hyphens: auto; text-align: justify;
}